<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navigation') %>
        <h1>
            <%= title %>
        </h1>
        <p align="center">
            <img src="/images/bayi.jpg" width="250px"> <br>Welcome to
            <%=title %>
        </p>

        <p align="center"> This is my website!, Created by
            <%= author %>
        </p>
</body>

</html>