<!DOCTYPE html>
<html>

<!-- HEADER -->
<%- include('partials/header') %>

    <body>

        <!-- NAVIGATION -->
        <%- include('partials/navigation') %>

            <h1>
                <%= title %>
            </h1>
            <p>Welcome to your
                <%= title %>
            </p>
            <img src="https://www.gambaranimasi.org/data/media/1309/animasi-bergerak-tertawa-0014.gif" />

            <!-- FOOTER -->
            <%- include('partials/footer') %>

    </body>

</html>